@import '../../Scss/mixins';
@import '../../Scss/variables';

.competition-info {
  @include flex-align-center;

  &__image-wrapper {
    &--image {
      width: 15rem;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: var(--space-md);

    &--name {
      font-size: var(--font-size-8);
      margin-bottom: .3rem;
    }
  
    &--venue {
      font-size: var(--font-size-4);
    }
  }

  @include media-breakpoint-down(lg) {
    &__image-wrapper {
      &--image {
        width: 13rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    text-align: center;

    &__image-wrapper {
      &--image {
        width: 11rem;
      }
    }

    &__content {
      margin: 1rem 0;
    }
  }
}