@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.match-item {
  @include flex-align-center;
  margin: 1rem 0;
  padding: 1.5rem;
  max-height: 4.45rem;
  font-weight: 600;
  position: relative;
  cursor: pointer;
  transition: background-color .2s ease-in;
  font-size: var(--font-size-3);
  border: 1px solid var(--color-grey);

  &:hover {
    background-color: var(--color-white-light-3);
  }

  &__dates {
    flex: 1.5;
    display: flex;
    flex-wrap: nowrap;
    min-width: 11.25rem;
    margin-right: .5rem;

    &--date {
      margin-right: 1.5rem;
    }
  }

  &__status {
    flex: 1;
    margin-right: 3rem;
  }

  &__teams {
    flex: 5;
    display: flex;
    justify-content: space-between;
    @include flex-align-center;

    &--separator {
      margin: 0 1rem;
    }
  }

  &__score {
    flex: 1;
    text-align: center;
  }

  &__info {
    flex: 2;
    text-align: center;
  }

  @include media-breakpoint-down(xl) {
    font-size: var(--font-size-2);
  }

  @include media-breakpoint-down(lg) {
    font-size: var(--font-size-1);
    padding: 1.5rem 1rem;

    &__dates {
      min-width: 7.5rem;
      margin-right: .1rem;
      font-size: var(--font-size-1);

      &--date {
        margin-right: .7rem;
      }
    }

    &__status {
      flex: 1;
      margin-right: 2rem;
    }

    &__teams {
      flex: 5;
      display: flex;
      justify-content: space-between;
      @include flex-align-center;
  
      &--separator {
        margin: 0 .6rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    padding: 2.3rem .7rem;

    &__dates {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      min-width: 5rem;
    }

    &__status {
      flex: 1;
      margin-right: 0rem;
    }

    &__teams {
      flex: 4;
      flex-direction: column;
      text-align: center;
  
      &--separator {
        margin: 0 1rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding: 3rem .7rem 2.5rem .7rem;

    &__dates {
      min-width: 4rem;
    }

    &__status {
      margin-right: 0rem;
      @include abs-position(-3%, auto, auto, -2%);
    }
  }

  @include media-breakpoint-down(vsm) {
    padding: 2.7rem .7rem 2.3rem .7rem;

    &__dates {
      min-width: 3.5rem;
    }

    &__teams {
      flex: 4;
      flex-direction: column;
  
      &--separator {
        margin: 0 1rem;
      }
    }
  }
}