@import '../../../Scss/mixins';

.competition-info {
  @include flex-align-center;

  &__image-wrapper {
    &--image {
      width: 11rem;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: var(--space-md);

    &--name {
      font-size: var(--font-size-8);
      margin-bottom: .3rem;
    }
  
    &--venue {
      font-size: var(--font-size-4);
    }
  }
}