@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.leagues-item {
  flex: 20%;
  max-width: 23%;
  min-width: 15.625rem;
  min-height: 15.625rem;
  @include flex-center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in;
  background-color: var(--color-white-light);

  &__logo {
    width: 6rem;
    height: 6rem;
  }

  &__title {
    font-size: var(--font-size-4);
    font-weight: 600;
    margin-top: var(--space-md);
  }

  &:hover {
    background-color: var(--color-white-light-3);
    transform: scale(1.1);
  }

  @include media-breakpoint-down(md) {
    flex: 47%;
    width: 49%;
    min-width: 13.625rem;
    min-height: 13.625rem;

    &__title {
      font-size: var(--font-size-3);
    }

    &__logo {
      width: 5rem;
      height: 5rem;
    }
  }

  @include media-breakpoint-down(sm) {
    min-width: 10.625rem;
    min-height: 10.625rem;
    margin: .7rem;

    &__title {
      margin-top: var(--space-sm);
      font-size: var(--font-size-2);
    }

    &__logo {
      width: 4rem;
      height: 4rem;
    }
  }

  @include media-breakpoint-down(vsm) {
    min-width: 8.625rem;
    min-height: 8.625rem;
    margin: .5rem;

    &__title {
      font-size: var(--font-size-1);
    }

    &__logo {
      width: 3rem;
      height: 3rem;
    }
  }
}