@import '../../../Scss/mixins';
@import '../../../Scss/variables';

.leagues-item {
  flex: 10%;
  max-width: 15%;
  min-width: 10.625rem;
  height: 15.625rem;
  @include flex-center;
  flex-direction: column;
  margin: var(--space-sm);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in;
  background-color: var(--color-white-light);
  border: 1px solid var(--color-white-light-4);

  &__logo {
    width: 5rem;
    height: 5rem;
  }

  &__title {
    font-size: var(--font-size-3);
    font-weight: 600;
    margin-top: var(--space-md);
  }

  &__sub-title {
    font-size: var(--font-size-2);
    margin-top: var(--space-md);
  }

  &:hover {
    background-color: var(--color-white-light-3);
    transform: scale(1.1);
  }

  @include media-breakpoint-down(md) {
    flex: 47%;
    width: 49%;
    min-width: 13.625rem;
    min-height: 13.625rem;

    &__title {
      font-size: var(--font-size-3);
    }
  }

  @include media-breakpoint-down(sm) {
    margin: .7rem;

    &__title {
      margin-top: var(--space-sm);
      font-size: var(--font-size-2);
    }
  }

  @include media-breakpoint-down(vsm) {
    margin: .5rem;

    &__title {
      font-size: var(--font-size-1);
    }
  }
}