@import '../../Scss/variables';

.league-teams-page {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xl);

  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
  }
}