@import '../../Scss/variables';

.team-page {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xl);

  &__shirts {
    padding: var(--space-lg) 0;
  }

  &__form-row {
    svg {
      width: 4rem;
      height: 4rem;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
  }


  @include media-breakpoint-down(md) {
    &__shirts {
      padding: var(--space-md) 0;
    }
  }

  @include media-breakpoint-down(sm) {
    &__shirts {
      display: flex;
      justify-content: center;
    }
  }
}