@import '../../Scss/variables';

.league-shedule {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xxl);
  overflow: hidden;

  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
    padding-bottom: var(--space-xl);
  }
}