@import '../../Scss/mixins';
@import '../../Scss/variables';

.match-details {
  padding: var(--space-lg);

  &__status {
    display: flex;
    margin: var(--space-md) 0;
  }

  @include media-breakpoint-down(sm) {
    padding: var(--space-lg);

    &__status {
      justify-content: center;
      margin: var(--space-vsm) 0;
    }
  }
}