@import '../../Scss/mixins';

.main {
  @include full-size;
  z-index: 1;

  &__wrapper {
    @include full-size;
    min-height: 100vh;
    background-image: url(../../Assets/JPG/main-bg.jpg);
    object-fit: cover;
    background-position: center center;
  }
}