@import '../../Scss/mixins';
@import '../../Scss/variables';

.competition {
 @include full-size;
 padding: var(--space-lg) 0;

  &__header {
    @include flex-align-center;
    margin-top: var(--space-md);
    margin-bottom: var(--space-lg);

    &--image {
      width: 9rem;
      height: 9rem;
    }

    &--title {
      margin-left: 1rem;
      font-size: var(--font-size-7);
      font-weight: 600;
    }
  }

  &__info {
    border-bottom: 1px solid var(--color-white-light-4);

    &--text {
      font-size: var(--font-size-4);
      font-weight: 600;
      margin-bottom: 1rem;
    }
  }

  &__bottom {
    padding-top: var(--space-md);
    display: flex;
    flex-direction: column;
    max-width: 20rem;

    & > * {
      margin-bottom: 1rem;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  
  @include media-breakpoint-down(md) {
    padding-top: var(--space-md);
    padding-bottom: var(--space-lg);

    &__bottom {
      padding-top: var(--space-sm);
    }
  }
}