.brand-heading {
  display: block;
  text-align: center;
  font-size: var(--font-size-8);
  font-family: var(--typography-secondary);
  font-weight: 600;
  text-transform: uppercase;
  margin: 3rem 0;
}