@import '../../Scss/variables';
@import '../../Scss/mixins';

.date-filter {
  @include flex-align-center;
  flex-wrap: wrap;

  &__pickers {
    display: flex;
    flex-wrap: wrap;
    min-width: 21.875rem;
    padding: .3rem 0;

    & > * {
      margin: .3rem;
    }
  }

  &__info {
    @include flex-align-center;
    justify-content: space-between;
    flex-wrap: wrap;

    &--title {
      min-width: 17.5rem;
      display: flex;
      margin-right: 1rem;
      font-weight: 600;
      font-size: var(--font-size-2);
      font-family: var(--typography-secondary);
    }
  }
  
  &__button {
    margin: .7rem 0;
  }

  @include media-breakpoint-down(lg) {
    &__info {
      &--title {
        font-size: var(--font-size-1);
      }
    }
  }
}