@import '../../Scss/variables';

.matches-page{
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xxl);
  
  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
    padding-bottom: var(--space-xl);
  }
}