@import '../../Scss/variables';

.team-shedule-page {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xl);

  &__date-filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
  }
}