@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  font-size: initial;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  /* Colors */
  --color-primary: #dd1515;
  --color-dark: #141414;
  --color-grey: #8c8c8c;
  --color-lime: #7cb305;
  --color-red: #ff4d4f;
  --color-blue: #17A2B8;
  --color-orange: #ffd591;
  --color-dark-light-1: #1f1f1f;
  --color-dark-light-2: #262626;
  --color-white: #ffffff;
  --color-white-light: #fafafa;
  --color-white-light-2: #f5f5f5;
  --color-white-light-3: #f0f0f0;
  --color-white-light-4: #d9d9d9;

  /* Fonts */
  --typography-primary: 'Poppins';

  /* Sizes */
  --font-size-1: 12px; 
  --font-size-2: 14px; 
  --font-size-3: 16px; 
  --font-size-4: 20px; 
  --font-size-5: 24px; 
  --font-size-6: 30px; 
  --font-size-7: 38px; 
  --font-size-8: 46px; 
  --font-size-9: 56px; 
  --font-size-10: 68px;

  /* Line height */
  --line-height-1: 20px;
  --line-height-2: 22px;
  --line-height-3: 24px;
  --line-height-4: 28px;
  --line-height-5: 32px;
  --line-height-6: 38px;
  --line-height-7: 46px;
  --line-height-8: 54px;
  --line-height-9: 64px;
  --line-height-10: 76px;

  /* Spaces */
  --baseline: 24px;
  --space-tiny: calc(var(--baseline)/4);
  --space-vsm: calc(var(--baseline)/3);
  --space-sm: calc(var(--baseline)/2);
  --space-md: var(--baseline);
  --space-lg: calc(var(--baseline)*2);
  --space-xl: calc(var(--baseline)*3);
  --space-xxl: calc(var(--baseline)*4);
  --space-xxxl: calc(var(--baseline)*5);
  --space-huge: calc(var(--baseline)*6);
}