@import '../../Scss/variables';

.leagues {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xl);

  @include media-breakpoint-down(lg) {
    padding-top: var(--space-md);
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}